<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    {{#each scripts}}
        <script type="text/javascript" src="{{src}}"></script>
    {{/each}}
  </head>
  <body>
    {{{body}}}
  </body>
</html>
